


    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: #181818;
    padding: 24px 0;
}
.container{
    margin: 0 auto;
    max-width: 1168px;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
header nav li{
    margin-left: 32px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:first-of-type{
    margin-left: 31px;
}
header nav li a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    padding: 11px 20px ;
    letter-spacing: 0.4px;
}
header .logo{
    position: relative;
    z-index: 100;
}
.main_banner{
    background-image:url("../images/big_logo.jpg");
    background-size:cover;
    height:calc(100vh - 83px);
    display:flex;
    align-items: end;
    justify-content: center;
    padding-bottom:71px;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;




}
.main_banner h3{
    margin-bottom: 1px;
    color: #C0C0C0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main_banner h1{
    margin-bottom: 18px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px; /* 110% */
}
.main_banner p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.mount_banner{
    background-image: url("../images/mount_logo.jpg");
    background-size: cover;
    min-height:  600px;
    display: flex;
    justify-content: end;
    align-items: center;


}
.mount_banner .container{
    max-width: 298px;
    align-items: center;
    margin: inherit;
    margin-right: 62px;



}
.mount_banner h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.mount_banner p{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.monstera_banner{
    background-image: url("../images/monstera_banner.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.monstera_banner .container{
    max-width: 273px;
    align-items: center;
    margin: inherit;
    margin-right: 87px;

}
.monstera_banner h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.monstera_banner p{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.clients{
    background: #000;
    padding-top: 120px;
    padding-bottom: 100px;

}
.clients_link a{
    max-width: 128px;
    display: inline-block;
}


.clients_link .owl-stage{
    display: flex;
    align-items: center;
}
.clients_link.owl-carousel .owl-item{
    text-align: center;
}
.clients .container{
    justify-content: center;
}
.clients h3{
    margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 105% */
}
.clients h4{
    margin-bottom: 42px;
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.clients_link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 46px;
}
.clients_link.owl-carousel .owl-dots .owl-dot .span{
    width: 20px ;
    height: 20px ;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 10px;


}

.sky_banner{
    background-image: url("../images/sky_banner.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.sky_banner .container{
    max-width: 259px;
    align-items: center;
    margin: inherit;
    margin-right: 119px;
}
.sky_banner h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sky_banner p{
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.icons{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    z-index: 3;


}
.icons li{
    margin-left: 16px;
    list-style: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}
.icons li:before{
    display: inline-block;
    content: "";
    background-image: url("../images/IMAGE (20).svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;

}
.icons li:nth-child(2):before{
background-image: url("../images/IMAGE (21).svg");
}
.icons li:nth-child(3):before{
    background-image: url("../images/IMAGE (22).svg");
    width: 32px;
    margin-right: 7px;
}
.icons li:nth-child(4):before{
    background-image:url("../images/IMAGE (23).svg");
    width: 10px;
    margin-right: 5px;
}
.gear_cage{
    min-height: 540px;
    position: relative;
    background-color: black;
}
.gear_cage article{
    max-width: 514px;
}
.gear_cage h3{
    margin-bottom: 6px;
    color: #C0C0C0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.gear_cage h4{
    margin-bottom: 14px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 114.286% */
}
.gear_cage p{
    margin-bottom: 20px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.gear_cage a{
    display: inline-flex;
    justify-content: center;
    padding: 9px;
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
    text-decoration: none;
}
.gear_cage a:before{
    content: "";
    display: block;
    background-color: rgba(0,0,0,1);
    width: 22px;
    height: 22px;
    margin-right: 6px;
    border-radius: 9999px;
}
.gear_cage:after{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/IMAGE (8).jpg");
    background-size: cover;
    content: "";
    display: block;
}
.gear_cage .container{
    max-width: 1240px;
    align-items: center;
    display: flex;
    min-height: 540px;
}
.what_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: black;
}
.what_we_do .d_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.what_we_do .d_flex article{
    margin-bottom: 16px;
    max-width: 567px;
    position: relative;
}
.what_we_do .d_flex article img {
    width: 100%;
    display: block;
}
.what_we_do h3{
   margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 105% */
}
.what_we_do h4{
    margin-bottom: 40px;
    color: #C0C0C0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 130.435% */
}
.what_we_do_about{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.what_we_do_about h3{
    text-align: start;
    margin-bottom: 10px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
    .what_we_do_about p{
        margin-bottom: 17px;
        color: #C0C0C0;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }


    .button_link{
        display: inline-flex;
        justify-content: center;
        padding: 9px;
        border-radius: 14px;
        background: #FFF;
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
        letter-spacing: 0.4px;
        text-decoration: none;
    }
    .button_link:before{
        content: "";
        background-color: rgba(0,0,0,1);
        width: 22px;
        height: 22px;
        margin-right: 6px;
        border-radius: 9999px;
    }
    .need_help{
        background-color: black;

    }
    .need_help .container{

        padding-top: 113px;
        padding-bottom: 108px;
        text-align: center;
    }
    .need_help h3{
        margin-bottom: 15px;
        color: #FFF;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 105% */
    }
    .need_help h4{
        margin-bottom: 22px;
        color: #C0C0C0;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 125% */
    }
